@using Crazor
@inherits CardView

<Card Version="1.5">
    <SelectAction>
        <ActionExecute Id="CardAction" Verb="@nameof(OnSelect)" />
    </SelectAction>
    <Container>
        <ActionExecute Id="ContainerAction" Verb="@nameof(OnSelect)" />
    </Container>
    <ColumnSet>
        <ActionExecute Id="ColumnSetAction" Verb="@nameof(OnSelect)" />
        <Column>
            <RichTextBlock>
                <TextRun Text="Text">
                    <ActionExecute Id="TextRunAction" Verb="@nameof(OnSelect)" />
                </TextRun>
            </RichTextBlock>
            <ActionExecute Id="ColumnAction" Verb="@nameof(OnSelect)" />
        </Column>
    </ColumnSet>
    <Image Url="https://bing.com">
        <ActionExecute Id="ImageAction" Verb="@nameof(OnSelect)" />
    </Image>
    <Table>
        <TableRow>
            <TableCell>
                <ActionExecute Id="TableCellAction" Verb="@nameof(OnSelect)" />
            </TableCell>
        </TableRow>
    </Table>
</Card>

@code {
    public void OnSelect()
    {

    }
}